inflexion:
	days:
		0: 
			1: 'sunday'
			2: 'sunday'
			3: 'sunday'
			4: 'sunday'
			5: 'sunday'
			6: 'sunday'
			7: 'sunday'
		1:
			1: 'monday'
			2: 'monday'
			3: 'monday'
			4: 'monday'
			5: 'monday'
			6: 'monday'
			7: 'monday'
		2:
			1: 'tuesday'
			2: 'tuesday'
			3: 'tuesday'
			4: 'tuesday'
			5: 'tuesday'
			6: 'tuesday'
			7: 'tuesday'
		3:
			1: 'wednesday'
			2: 'wednesday'
			3: 'wednesday'
			4: 'wednesday'
			5: 'wednesday'
			6: 'wednesday'
			7: 'wednesday'
		4:
			1: 'thursday'
			2: 'thursday'
			3: 'thursday'
			4: 'thursday'
			5: 'thursday'
			6: 'thursday'
			7: 'thursday'
		5:
			1: 'friday'
			2: 'friday'
			3: 'friday'
			4: 'friday'
			5: 'friday'
			6: 'friday'
			7: 'friday'
		6:
			1: 'saturday'
			2: 'saturday'
			3: 'saturday'
			4: 'saturday'
			5: 'saturday'
			6: 'saturday'
			7: 'saturday'

difference:
	before: 'before'
	yesterday: 'yesterday'
	today: 'today'
	tomorrow: 'tomorrow'
	afterTomorrow: 'after tomorrow'
	after: 'after'
	oneDay: 'day'
	twoDays: 'days'
	fiveDays: 'days'

at:
	0: 'at' # sunday
	1: 'at' # monday
	2: 'at' # tuesday
	3: 'at' # wednesday
	4: 'at' # thursday
	5: 'at' # friday
	6: 'at' # saturday