inflexion:
	days:
		0: 
			1: 'neděle'
			2: 'neděle'
			3: 'neděli'
			4: 'neděli'
			5: 'neděle'
			6: 'neděli'
			7: 'nedělí'
		1:
			1: 'pondělí'
			2: 'pondělí'
			3: 'pondělí'
			4: 'pondělí'
			5: 'pondělí'
			6: 'pondělí'
			7: 'pondělí'
		2:
			1: 'úterý'
			2: 'úterý'
			3: 'úterý'
			4: 'úterý'
			5: 'úterý'
			6: 'úterý'
			7: 'úterý'
		3:
			1: 'středa'
			2: 'středy'
			3: 'středě'
			4: 'středu'
			5: 'středo'
			6: 'středě'
			7: 'středou'
		4:
			1: 'čtvrtek'
			2: 'čtvrtku'
			3: 'čtvrtku'
			4: 'čtvrtek'
			5: 'čtvrtku'
			6: 'čtvrtku'
			7: 'čtvrtkem'
		5:
			1: 'pátek'
			2: 'pátku'
			3: 'pátku'
			4: 'pátek'
			5: 'pátku'
			6: 'pátku'
			7: 'pátkem'
		6:
			1: 'sobota'
			2: 'soboty'
			3: 'sobotě'
			4: 'sobotu'
			5: 'sobota'
			6: 'sobotě'
			7: 'sobotou'

difference:
	today: 'dnes'
	tomorrow: 'zítra'
	afterTomorrow: 'pozítří'
	after: 'za'
	oneDay: 'den'
	twoDays: 'dny'
	fiveDays: 'dnů'