inflexion:
	days:
		0: 
			1: "nedeľa"
			2: 'nedele'
			3: 'nedeli'
			4: 'nedeľu'
			5: 'nedeľa'
			6: 'nedeli'
			7: 'nedeľou'
		1:
			1: 'pondelok'
			2: 'pondelka'
			3: 'pondelku'
			4: 'pondelok'
			5: 'pondelok'
			6: 'pondelku'
			7: 'pondelkom'
		2:
			1: 'utorok'
			2: 'utorka'
			3: 'utorku'
			4: 'utorok'
			5: 'utorok'
			6: 'utorku'
			7: 'utorkom'
		3:
			1: 'streda'
			2: 'stredy'
			3: 'strede'
			4: 'stredu'
			5: 'streda'
			6: 'strede'
			7: 'stredou'
		4:
			1: 'štvrtok'
			2: 'štvrtka'
			3: 'štvrtku'
			4: 'štvrtok'
			5: 'štvrtok'
			6: 'štvrtku'
			7: 'štvrtkom'
		5:
			1: 'piatok'
			2: 'piatka'
			3: 'piatku'
			4: 'piatok'
			5: 'piatok'
			6: 'piatku'
			7: 'piatkom'
		6:
			1: 'sobota'
			2: 'sobotu'
			3: 'sobote'
			4: 'sobotu'
			5: 'sobota'
			6: 'sobotu'
			7: 'sobotou'

difference:
	before: 'pred'
	yesterday: 'včera'
	today: 'dnes'
	tomorrow: 'zajtra'
	afterTomorrow: 'pozajtra'
	after: 'za'
	oneDay: 'deň'
	twoDays: 'dni'
	fiveDays: 'dní'

at:
	0: 'v' # sunday
	1: 'v' # monday
	2: 'v' # tuesday
	3: 'v' # wednesday
	4: 'vo' # thursday
	5: 'v' # friday
	6: 'v' # saturday